//black shades
$black-1: lighten(black, 0);
$black-2: lighten(black, 10);
$black-3: lighten(black, 20);
$black-4: lighten(black, 30);
$black-5: lighten(black, 40);

//white shades
$white-1: darken(white, 0);
$white-2: darken(white, 10);
$white-3: darken(white, 20);
$white-4: darken(white, 30);
$white-5: darken(white, 40);

//brand
$brand-1: #F60;

