//black shades
$black-1: lighten(black, 0);
$black-2: lighten(black, 5);
$black-3: lighten(black, 10);
$black-4: lighten(black, 15);
$black-5: lighten(black, 20);

//white shades
$white-1: darken(white, 0);
$white-2: darken(white, 5);
$white-3: darken(white, 10);
$white-4: darken(white, 15);
$white-5: darken(white, 20);

//brand
$brand-1: #c60;

