#site-header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu{
            display: flex;
            gap: 1rem;
            list-style-type: none;
            li{
                &:hover{
                    .sub-menu{
                        display: flex;
                    }
                }
                .sub-menu{
                    position: absolute;
                    list-style-type: none;
                    flex-direction: column;
                    display: none;
                }
            }
        }
    }
}