@media screen and (max-width:800px) {
    #site-header{
        nav{
            padding: $size-m $size-l;
            #lettermark{
              font-size: $size-xxm;
            }
            .menu{
                font-size: $size-m;
            }
        }
      }
      #site-footer{
        padding: $size-m $size-l;
      }
    .post{
      .post-header{
        .post-title{
          font-size: $size-l;
        }
      }
        .post-content{
          padding: $size-m $size-l;
          max-width: 100%;
        }
      }
    .post-snippet{
      padding: $size-l $size-l 0 $size-l;
        &:nth-child(even){
            flex-direction: column-reverse;
            .post-snippet-content{
                border-left: none;
                box-shadow: inset 0 25px 25px -25px $brand-1;;      
            }
          }
        &:nth-child(odd){
            flex-direction: column-reverse;
        .post-snippet-content{
                border-right: none;
                box-shadow: inset 0 25px 25px -25px $brand-1;;      
            }
        }
        .post-snippet-content{
            max-width: 100%;
            width: 100%;
            border-top: 2px solid $brand-1;
          }
        .post-snippet-image{
            width: 100%;
            height: 150px;
        }
    }
}