@media screen and (max-width:800px) {
  body{
    font-size: $size-xm;
  }
    #site-header{
        nav{
            padding: $size-m $size-xm;
            #lettermark{
              font-size: $size-xxm;
            }
            .menu{
                font-size: $size-m;
            }
        }
      }
      #site-footer{
        padding: $size-m $size-xm;
      }
    .post{
      .post-header{
        padding-left: $size-xm;
        .post-title{
          font-size: $size-l;
        }
      }
        .post-content{
          padding: $size-m $size-xm;
          max-width: 100%;
        }
      }
    .post-wrapper{
      padding: $size-m $size-xm;
      max-width: 100%;
      flex-direction: column;
      .post-snippet{
        width: 100%;
      }
    }
}