//small sizes
$size-xxs: 0.4rem;
$size-xs: 0.6rem;
$size-s: 0.8rem;

//medium sizes
$size-m: 1rem;
$size-xm: 1.2rem;
$size-xxm: 1.4rem;

//large sizes
$size-l: 2rem;
$size-xl: 3rem;
$size-xxl: 4rem;
$size-xxxl: 5rem;