@import
"imports/colors.scss",
"imports/sizes.scss",
"imports/transitions.scss",
"imports/font.scss",
"imports/filters.scss",
"imports/resets.scss";

body {
  color: $white-2;
  background-color: $black-2;
}

.cta-primary{
  background-color: $black-4;
  width: fit-content;
  padding: $size-xxs $size-m;
  text-transform: uppercase;
}

#site-header{
  background-color: $black-1;
  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $size-l;
      #lettermark{
        font-weight: 800;
        font-size: $size-l;
      }
      .menu{
          display: flex;
          gap: $size-m;
          list-style-type: none;
          font-size: $size-xm;
          li{
              a{
                transition: color $default-transition;
              }
              &:hover{
                a {
                  color: $brand-1;
                  transition: color $default-transition;
                }
              }
          }
      }
  }
}
#site-footer{
  padding: $size-l;
}

.post{
  border-bottom: 2px solid $black-3;
  .post-header{
    min-height: 200px;
    position: relative;
    padding: $size-l;
    border-bottom: 2px solid $black-3;
    box-shadow: inset 0 -100px 100px -100px $black-1,inset 0 100px 100px -100px $black-1,;
    .post-title{
      font-size: $size-xl;
      color: $brand-1;
    }
    .post-info{
      font-size: $size-m;
      font-style: italic;
      letter-spacing: 0.2px;
      color: $white-3;
      border-left: 2px solid $brand-1;
      padding-left: $size-s;
      margin-top: $size-s;
      .lowercase{
        text-transform: lowercase;
      }
    }
    .post-image{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      object-fit: cover;
      object-position: center;
      filter: $dark-filter $blur-filter;
    }
  }
  .post-content{
    padding: $size-l;
    max-width: 70%;
    margin: auto;
    p:not(:last-of-type){
      margin-bottom: $size-m;
    }
  }
}
.post-snippet{
  display: flex;
  align-items: center;
  justify-content: center;
  .post-snippet-content{
    background-color: $black-3;
    padding: $size-l $size-xl;
    display: block;
    max-width: 50%;
    h3{
      font-size: $size-xxm;
    }
    .post-snippet-content-button{
      margin-top: $size-m;
    }
  }
  .post-snippet-image{
    width: 30%;
    filter: $dark-filter;
    aspect-ratio: 2;
    object-fit: cover;
    object-position: center;
  }
  &:nth-child(even){
    flex-direction: row-reverse;
    .post-snippet-content{
      border-left: 2px solid $brand-1;
      box-shadow: inset 25px 0 25px -25px $brand-1;
    }
  }
  &:nth-child(odd){
    flex-direction: row;
    .post-snippet-content{
      border-right: 2px solid $brand-1;
      box-shadow: inset -25px 0 25px -25px $brand-1;
    }
  }
  &:not(:last-of-type){
    margin-bottom: $size-l;
  }
}

@import "imports/media-queries.scss";
