@import
"imports/colors.scss",
"imports/sizes.scss",
"imports/transitions.scss",
"imports/font.scss",
"imports/filters.scss",
"imports/resets.scss",
"components/post.scss",
"components/header.scss",
"components/footer.scss";

:root{
  scroll-behavior: smooth;
}
body {
  color: $white-2;
  background-color: $black-2;
}

.cta-primary{
  background-color: $black-4;
  width: fit-content;
  padding: $size-xxs $size-m;
  text-transform: uppercase;
}

.post-wrapper{
  padding: $size-l;
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $size-l;
  .post-snippet{
    width: 47.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    .post-snippet-image-overlay{
      height: 200px;
      width: 100%;
      position: absolute;
      background: linear-gradient(180deg, transparent 85%, darken($brand-1, 35) 100%);
      z-index: 1;

    }
    .post-snippet-image{
      width: 100%;
      filter: $dark-filter;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
    .post-snippet-content{
      background-color: $black-3;
      padding: $size-m;
      border-top: 2px solid $brand-1;
      .cta-primary{
        margin-top: $size-s
      }
    }
  }
}

@import "imports/media-queries.scss";
