{{ partial "header.html" . }}

<div class="post-wrapper">

  {{ range.Data.Pages }}
  <article class="post-snippet">
  
    <div class="post-snippet-image-overlay"></div>
  
    <img src="{{ .Params.image }}" class="post-snippet-image">

    <div class="post-snippet-content" href="{{ .RelPermalink }}">
  
      <h3>{{ .Title }}</h3>
  
      <p>{{ .Params.Preview }}</p>
  
      <a class="cta-primary" href="{{ .RelPermalink }}">Læs mere</a>
  
    </div>
  
  </article>
  {{ end }}

</div>

{{ partial "footer.html" . }}
