{{ partial "header.html" . }}

<article class="post">

	<header class="post-header">
	
		<h1 class="post-title">{{ .Title }}</h1>

		<div class="post-info">
			
			<p>Skrevet af {{ .Params.Author }}</p>
			
			{{ if eq .PublishDate .Lastmod }}
				<p>Publiceret i <span class="lowercase">{{ .PublishDate.Format "January 2006" }}</span></p>
			{{ else }}
				<p>Sidst revideret i <span class="lowercase">{{ .Lastmod.Format "January 2006" }}</span></p>
			{{ end }}

			<p>Anslået læsetid: {{ math.Round (div (countwords .Content) 180.0) }} minutter</p>

		</div>

		{{ if .Params.image }}
			<img src="{{ .Params.image }}" class="post-image">
		{{ end }}

	</header>

	<div class="post-content">

		{{ .Content }}
		
	</div>

</article>

{{ partial "footer.html" . }}
