/* LAYOUT */

@import url(imports/header.scss);

body {
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.post-title {
  margin-bottom: 1rem;
}

.post-date {
  display: block;
  margin-bottom: 2rem;
  font-style: italic;
}

.content {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}
